* {
    box-sizing: border-box;
}
  
html {
    height: 100%;
}
  
body {
    font-family: "Poppins", sans-serif;
    background: radial-gradient(circle at top left, #ffe0f5, #fca4ea);
    color: #9c1d9a;
    margin: 0;
    padding: 0;
    height: 100%;
}